<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.adobe.AUSST.updater</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Scripts/AUSSTupdate.sh</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StartCalendarInterval</key> 
<array>
	<dict>
	<key>Hour</key>
	<integer>5</integer>
	<key>Minute</key>
	<integer>0</integer>
	<key>Weekday</key>
	<integer>6</integer>
	</dict>
</array>
</dict>
</plist>
